# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import gkey
gmaps.configure(api_key=gkey)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
city_data = pd.read_csv('../output_data/cities.csv')
city_data

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Bluff,-46.60,168.33,53.44,77,100,8.05,NZ,1596085941
1,1,Kapaa,22.08,-159.32,80.60,69,20,17.22,US,1596085705
2,2,Bambous Virieux,-20.34,57.76,73.99,78,75,11.41,MU,1596085942
3,3,Te Anau,-45.42,167.72,51.03,82,100,2.06,NZ,1596085942
4,4,Mossamedes,-15.20,12.15,62.46,81,0,6.64,AO,1596085942
...,...,...,...,...,...,...,...,...,...,...
560,560,Carballo,43.21,-8.69,64.99,100,0,2.46,ES,1596086085
561,561,Bendigo,-36.77,144.28,55.99,56,0,1.99,AU,1596086085
562,562,Bozoum,6.32,16.38,67.69,97,100,1.45,CF,1596086085
563,563,Kolosovka,56.47,73.61,64.33,51,19,5.64,RU,1596086086
564,564,Nampula,-15.12,39.27,62.60,93,20,5.82,MZ,1596086086

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
locations = city_data[['Lat', 'Lng']]

humidity = city_data['Humidity']

In [6]:
# Plot Heatmap
humidity_fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
humidity_fig.add_layer(heat_layer)

# Display figure
humidity_fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
better_weather = city_data.loc[(city_data['Max Temp'] <= 80) & (city_data['Max Temp'] >= 70)]
better_weather = city_data.loc[(city_data['Cloudiness'] == 0)]
# better_weather = city_data.loc[(city_data['Wind Speed'] < 10)]
better_weather = better_weather.drop(columns= 'Unnamed: 0')
better_weather = better_weather.dropna()
better_weather

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
4,Mossamedes,-15.20,12.15,62.46,81,0,6.64,AO,1596085942
25,Verkhoyansk,67.54,133.38,63.30,41,0,11.05,RU,1596085948
43,Manosque,43.83,5.79,66.99,84,0,3.36,FR,1596085952
44,Esperance,-33.87,121.90,68.00,52,0,19.46,AU,1596085863
58,Lucapa,-8.42,20.74,57.79,38,0,2.91,AO,1596085956
...,...,...,...,...,...,...,...,...,...
539,Say,13.10,2.37,80.60,78,0,8.05,NE,1596086079
547,Nova OlÃ­mpia,-14.80,-57.29,60.67,69,0,3.78,BR,1596086081
559,Willowmore,-33.29,23.49,40.23,84,0,3.40,ZA,1596086084
560,Carballo,43.21,-8.69,64.99,100,0,2.46,ES,1596086085
561,Bendigo,-36.77,144.28,55.99,56,0,1.99,AU,1596086085

In [22]:
better_weather1 = better_weather.loc[(city_data['Wind Speed'] < 1.5)]
better_weather1.describe()

,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
count,5.000000,5.000000,5.000000,5.000000,5.0,5.000000,5.000000e+00
mean,-3.148000,7.412000,56.676000,63.800000,0.0,0.802000,1.596086e+09
std,38.140535,34.642427,20.172256,9.833616,0.0,0.374593,3.330465e+01
min,-32.030000,-52.100000,37.800000,53.000000,0.0,0.250000,1.596086e+09
25%,-30.650000,7.640000,44.060000,57.000000,0.0,0.690000,1.596086e+09
50%,-29.660000,22.750000,44.530000,61.000000,0.0,0.810000,1.596086e+09
75%,31.610000,24.010000,75.990000,72.000000,0.0,1.010000,1.596086e+09
max,44.990000,34.760000,81.000000,76.000000,0.0,1.250000,1.596086e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [23]:
#creating new DF with ideal weather
hotel_df = better_weather1
hotel_df['Hotel Name'] = " "
hotel_df.head()

C:\Users\salol\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
113,Prieska,-29.66,22.75,44.06,61,0,0.81,ZA,1596085969,
122,Kiryat Gat,31.61,34.76,81.00,53,0,1.25,IL,1596085971,
221,De Aar,-30.65,24.01,37.80,72,0,0.25,ZA,1596085997,
349,Nichelino,44.99,7.64,75.99,57,0,1.01,IT,1596086031,
387,Rio Grande,-32.03,-52.10,44.53,76,0,0.69,BR,1596086041,

In [24]:
#utilizing API documentaion to call specific place type
target_search = 'hotel'
target_radius = 5000
target_type = 'lodging'

#setting up params dictionary
params = {'keyword' : target_search,
         'radius' : target_radius,
         'type' : target_type,
         'key' : gkey}

# itterate through the rows utilizing the GPS cooridnates in the new DF
for index, row in hotel_df.iterrows():
    
   #get lat/lng from hotel_df
    lat = row['Lat']
    lng = row['Lng']
    
     # add a key value to existin params dictionary
    params['location'] = f'{lat},{lng}'
    
    #base url utilizing nearby searchfor a specific area
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    
    # make request and convert to json
    response = requests.get(base_url, params = params).json()
    
    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try: 
        hotel_df.loc[index, 'Hotel Name'] = response['results'][0]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result...skipping")
    
#     print(response)

C:\Users\salol\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [25]:
#print out new DF
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
113,Prieska,-29.66,22.75,44.06,61,0,0.81,ZA,1596085969,Gariep Country Lodge
122,Kiryat Gat,31.61,34.76,81.00,53,0,1.25,IL,1596085971,Desert Gat
221,De Aar,-30.65,24.01,37.80,72,0,0.25,ZA,1596085997,The Guesthouse Manor De Aar
349,Nichelino,44.99,7.64,75.99,57,0,1.01,IT,1596086031,AC Hotel by Marriott Torino
387,Rio Grande,-32.03,-52.10,44.53,76,0,0.69,BR,1596086041,Hotel AtlÃ¢ntico Rio Grande

In [26]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [27]:
# Add marker layer ontop of heat map
# markers = gmaps.marker_layer(locations)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
humidity_fig.add_layer(markers)

# Display figure
humidity_fig

Figure(layout=FigureLayout(height='420px'))